@model List<Product>


<div class="mkdf-row-grid-section-wrapper ">
	<div class="mkdf-row-grid-section">
		<div class="vc_row wpb_row vc_row-fluid vc_custom_1526044222558">
			<div class="wpb_column vc_column_container vc_col-sm-12">
				<div class="vc_column-inner">
					<div class="wpb_wrapper">
						<div class="mkdf-pl-holder mkdf-standard-layout mkdf-medium-space mkdf-four-columns mkdf-info-below-image "
							 data-type="standard"
							 data-info-position="info-below-image"
							 data-number-of-posts="8" data-number-of-columns="4"
							 data-space-between-items="medium"
							 data-show-ordering-filter="yes" data-orderby="date"
							 data-order="ASC" data-show-category-filter="yes"
							 data-show-all-item-in-filter="yes"
							 data-taxonomy-to-display="category"
							 data-display-title="yes" data-title-tag="h6"
							 data-display-category="no" data-display-rating="no"
							 data-display-price="yes" data-display-button="yes"
							 data-button-skin="default" data-class-name="pli"
							 data-layout-classes="mkdf-pli-hover-overlay">
							<h2 class="mkdf-st-title mkdf-content-aligment-center">
								Products
							</h2>
							<div class="mkdf-prl-loading">
								<span class="mkdf-prl-loading-msg">Loading...</span>
							</div>
							<div class="mkdf-pl-outer mkdf-outer-space">

								@foreach (Product prd in Model)
								{
									<div class="mkdf-pli mkdf-item-space ">
										<div class="mkdf-pli-inner">
											<div class="mkdf-pli-image">
												<a asp-controller="product" asp-action="detail" asp-route-id="@prd.Id">
													<img width="620" height="800"
													 src="~/assets/vendor/wp-content/uploads/2018/04/@prd.ProductImages.FirstOrDefault(x => x.IsPrimary == true).ImageUrl"
													 class="attachment-woocommerce_single size-woocommerce_single wp-post-image"
													 alt="l" loading="eager"/>
												</a>
											</div>
											
										</div>
										<div class="mkdf-pli-text-wrapper">
											<h6 itemprop="name"
											class="entry-title mkdf-pli-title">
												<a asp-controller="product" asp-action="detail" asp-route-id="@prd.Id" itemprop="url">
													@prd.Name
												</a>
											</h6>
											<div class="mkdf-pli-add-to-cart mkdf-default-skin">
												<a rel="nofollow"
											   href="indexcd19.html?add-to-cart=365"
											   data-quantity="1"
											   data-product_id="365"
											   data-product_sku="7555"
											   class="button add_to_cart_button ajax_add_to_cart mkdf-button">
													Add
													to cart
												</a>
											</div>
											<div class="mkdf-pli-price">
												<span class="woocommerce-Price-amount amount">
													<span class="woocommerce-Price-currencySymbol">&#036;</span>@prd.Price
												</span>
											</div>
										</div>
									</div>
								}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>